ul.errorlist {display: none}
body { padding-top: 70px; }
.fa-shopping-cart {
    color:  #5cb85c;
}

.navbar-default {
    background-color: #702963;
}

.justify-content-center{
    background-color: #eee; 
    padding-bottom: 25px;
    margin: 0px auto;
    padding: 10px;
    position: relative;
    z-index: 10;
}