ul.errorlist {display: none}
body { padding-top: 70px; }
.fa-shopping-cart {
    color:  #5cb85c;
}

.btn-primary{
    background: #88c8bc !important; 
    color: #88c8bc;
}

.btn-success {
    background: #88c8bc !important; 
    color: #88c8bc;
}

.navbar-default {
    background-color: #702963;
}

.justify-content-center{
    background-color: #eee; 
    padding-bottom: 25px;
    margin: 0px auto;
    padding: 10px;
    position: relative;
    z-index: 10;
}

.user-form {
    width: 500px;
    padding: 10% 0 0;
    margin: auto;
}
.form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  
.form input {
      font-family: "Lato", sans-serif;
      outline: 0;
      background: #e7e4e4;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
}
  
.form button {
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #88c8bc !important; 
      color: #000;
      width: 100%;
      border: 0;
      padding: 15px;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
}
