{% extends "base.html" %}
{% load cart_tag %}
{% block content %}

<div class="wrapper">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex flex-column">
            <div class="h3">Cart</div>
        </div>
    </div>
    <div id="table" class="bg-white rounded">
        <hr>
            <table class="table activitites">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-uppercase header">item</th>
                        <th scope="col" class="text-uppercase">Quantity</th>
                        <th scope="col" class="text-uppercase">price each</th>
                        <th scope="col" class="text-uppercase">total</th>
                    </tr>
                </thead>
                {% if not request.session.cart.items %}
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           Cart is currently empty. 
                           <a href="{% url 'products' %}" > Add Products </a>
                    </div>
                {% endif %}
                <tbody>
                    {% for key,value in request.session.cart.items %}
                    <tr>
                        <td class="item">
                            <div >
                              
                                <div class="pl-2">
                                    {{value.name}}
                                </div>
                        </td>
                        <td>
                            {% if value.quantity > 1 %}
                            <a href="{% url 'item_decrement' value.product_id %}"> - </a> 
                            {% endif %}
                            {{value.quantity}} 
                            <a href="{% url 'item_increment' value.product_id %}"> + </a>
                        </td>
                
                        <td class="d-flex flex-column"><span class="red">{{value.price}}</span>
                        </td>
                        <td class="font-weight-bold">
                            {{ value.price|multiply:value.quantity }}
                          <a href="{% url 'item_clear' value.product_id %}"> <div class="close">&times;</div> </a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if request.session.cart.items %}
            <div class="d-flex flex-column">
                <div class="h3">Subtotal:  {{ total }} {{datakey}}</div>
            </div>
            <div class="d-flex flex-column"></div>
            <form action="{% url 'order-complete' %}" method="POST"> {% csrf_token %}
                <script
                  src="https://checkout.stripe.com/checkout.js"
                  class="stripe-button"
                  data-key="{{ key }}"
                  data-name="Product Order"
                  data-description="Phorest Products"
                  data-amount="{{ payment_amount }}"
                  data-email="example@mail.com"
                  data-currency="eur">
                </script>
              </form>
            {% else %}
            <a href="{% url 'products' %}" class="btn btn-primary">Products </a>
            {% endif %}
            </div>
    </div>
</div>

{% endblock %}