{% extends 'base.html' %}
{% block content %}

{% if form.non_field_errors %}
   <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {% for error in form.non_field_errors %}
             <p>{{ error }}</p>
        {% endfor %}
    </div>
 {% endif %}

<div class="login">
    <h1>Sign in</h1>
    <div class="form">
        <form method="post" > {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success"> <i class="fa fa-lock"></i> Login</button>
        </form>
        <a href="{% url 'signup' %}">
            <button class="btn btn-success"> <i class="fa fa-user-plus"></i> Register</button>
        </a>
    </div>
</div>

{% endblock %}