{% extends "base.html" %}
{%block content %}

<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">

                    <div class="invoice p-5">

                        <h5>Your order Confirmed!</h5>

                        <span class="font-weight-bold d-block mt-4">Thank you {{profile.user.first_name}},</span>
                        <span>Your order has been confirmed and will be shipped in next two days!</span>

                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                            <table class="table table-borderless">
                                
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2">

                                            <span class="d-block text-muted">Order Date</span>
                                            <span>{{ order.created }}</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order No</span>
                                            <span><p>{{order.id }}</p></span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Shiping Address</span>
                                                    <span><p>
                                                            {{profile.address_1 }}, 
                                                            {{profile.address_2 }}<br>
                                                            {{profile.country }}<br>
                                                            {{profile.post_code }}
                                                        </p>
                                                    </span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            
                        </div>

                            <div class="product border-bottom table-responsive">

                                <table class="table table-borderless">
                            {% for item in order.order_items %}
                                <tbody>
                                
                                    <td width="60%">
                                        <span class="font-weight-bold">{{item.product.name}}</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:{{item.quantity}}</span>
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">{{item.price}}</span>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody> 
                            {% endfor %}
                                </table>

                            </div>

                            <div class="row d-flex justify-content-end">

                                <div class="col-md-5">

                                    <table class="table table-borderless">

                                        <tbody class="totals">

                                            <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>{{order.total_price }}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>

                            </div>

                            <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    </div>
                </div>
         </div> 
    </div>
</div>

{% endblock %}